In [7]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pandas as pd

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [4]:
df_pd = pd.DataFrame({'id': ['a', 'b', 'a'], 'val': [1, 2, 3]})

In [5]:
df = spark.createDataFrame(df_pd)

In [6]:
df.show()

+---+---+
| id|val|
+---+---+
|  a|  1|
|  b|  2|
|  a|  3|
+---+---+

In [9]:
df \
    .groupBy('id') \
    .agg(F.sum('val').alias('sum_val'),
         F.mean('val').alias('mean_val')) \
    .toPandas()

  id  sum_val  mean_val
0  a        4       2.0
1  b        2       2.0